.custom-btn{
    text-align: center;
    border: 2px solid var(--white);
    color: var(--white);
    padding: 1rem;
    border-radius: 0.35rem;
    cursor: pointer;
    font-weight: 600;
    width: 70vw;
    margin-top: 10px;
}

.custom-btn:hover{
    background-color: var(--white);
    color: var(--theme);
    transition: all 0.2s;
   
}